
app/sam/.vscode/settings.json
app/sam/main/__pycache__/
app/sam/main/migrations/
app/sam/sam/__pycache__/

app/sam/main/__pycache__/models.cpython-37.pyc
app/sam/main/__pycache__/urls.cpython-37.pyc
app/sam/main/__pycache__/views.cpython-37.pyc
app/sam/main/migrations/__pycache__/0001_initial.cpython-37.pyc
app/sam/main/migrations/__pycache__/0002_auto_20190627_1844.cpython-37.pyc
app/sam/main/migrations/__pycache__/0004_usuario_usuario.cpython-37.pyc
app/sam/main/migrations/__pycache__/0003_usuario_anno_actual.cpython-37.pyc
app/sam/main/migrations/__pycache__/0006_auto_20190701_0011.cpython-37.pyc
app/sam/main/migrations/__pycache__/0005_auto_20190630_2356.cpython-37.pyc
app/sam/main/migrations/__pycache__/0007_auto_20190702_0001.cpython-37.pyc
app/sam/main/migrations/__pycache__/0008_auto_20190702_0006.cpython-37.pyc
app/sam/main/migrations/__pycache__/0009_auto_20190702_0110.cpython-37.pyc
app/sam/main/migrations/__pycache__/0010_encuesta_activado.cpython-37.pyc
app/sam/sam/__pycache__/settings.cpython-37.pyc
app/sam/sam/__pycache__/urls.cpython-37.pyc
app/sam/main/__pycache__/__init__.cpython-37.pyc
app/sam/main/__pycache__/admin.cpython-37.pyc
app/sam/main/__pycache__/urls.cpython-37.pyc
app/sam/main/__pycache__/models.cpython-37.pyc
app/sam/main/__pycache__/views.cpython-37.pyc
app/sam/main/migrations/__pycache__/__init__.cpython-37.pyc
app/sam/sam/__pycache__/__init__.cpython-37.pyc
app/sam/sam/__pycache__/settings.cpython-37.pyc
app/sam/sam/__pycache__/urls.cpython-37.pyc
app/sam/sam/__pycache__/wsgi.cpython-37.pyc
.vscode/settings.json
.vscode/settings.json
