{% load staticfiles %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/png" href="{% static 'sam/imagen/favicon.png' %}">
    <title>SAM</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>


    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'sam/css/home-style.css' %}">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="{% static 'sam/font-awesome/css/font-awesome.min.css' %}">
    <!-- Material -->
    <link type="text/css"
        href="{% static 'sam/js/librerias/turbo/assets/vendors/material-design-iconic-font/dist/css/material-design-iconic-font.css' %}"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'sam/js/librerias/turbo/assets/css/css.css' %}" />

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="#" class="simple-text">
                        <img src="{% static 'sam/imagen/Logo-color(2).png' %}" class="img-responsive"
                            alt="Responsive image">
                    </a>
                </div>
            </div>

            <ul class="list-unstyled components">
                <li class="divider"></li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ficha Consolidada</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Datos Personales</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#encuestaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Encuesta</a>
                    <ul class="collapse list-unstyled" id="encuestaSubmenu">
                        <li>
                            <a href="#">Ver Encuesta</a>
                        </li>
                        <li>
                            <a href="#">Resultados por Alumno</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#grupoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Apadrinamiento</a>
                    <ul class="collapse list-unstyled" id="grupoSubmenu">
                        <li>
                            <a href="#">Grupos</a>
                        </li>
                        <li>
                            <a href="#">Padrinos</a>
                        </li>
                        <li>
                            <a href="#">Mechones</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav id="navegador-superior" class="navbar navbar-expand-lg bg">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="navbar-header">
                        <img src="{% static 'sam/imagen/logo-nave(1).png' %}" class="img-responsive"
                            alt="Responsive image">
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="material-icons">person</i><b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">
                                        Hola
                                        <br>
                                        MACARENA GARATE
                                    </li>
                                    <li class="divider"></li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'logout' %}" style="font-weight:400; color:#339fc3;">
                                            <i class="zmdi zmdi-sign-in" style="font-size:20px; color:#339fc3;"></i>
                                            Cerrar Sesi&oacute;n
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid d-flex flex-column">

                <div class="col-sm-10 col-sm-offset-1">
                    <div class="header text-center">
                        <h2>Ficha consolidada</h2>
                    </div>
                </div>

                <div class="col-sm-10 col-sm-offset-1">
                    <div class="card">
                        <div class="card-content">
                            <div class="cuadrotrans">
                                <h3>Informaci&oacute;n personal</h3>
                                <h5>Datos personales</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="fotoroster" style="border-radius: 5%" class='img-responsive'
                                            src="../../include/mostrar/incFotoPersonaMostrar.php?ii_pers_rut=19041272"
                                            id='fotoAlumno' alt="" width="150px" height="171px" />
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h6>RUT</h6>
                                                <p>19041272-5</p>
                                            </div>
                                            <div class="col-md-4">
                                                <h6>Nombre</h6>
                                                <p>GARATE MUÑOZ MACARENA PAZ</p>
                                            </div>
                                            <div class="col-md-4">
                                                <h6>Fono m&oacute;vil</h6>
                                                <p>974519090</p>
                                                <!-- BEGIN: Separacion interlineado -->
                                                <p>
                                                    <br><br>
                                                </p>
                                                <!-- END: Separacion interlineado -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h6>Email alumno </h6>
                                                <p><a
                                                        href="mailto:macarena.garate.m@mail.pucv.cl">macarena.garate.m@mail.pucv.cl</a>
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <h6>Email personal </h6>
                                                <p><a href="mailto:mgaratemu@gmail.com">mgaratemu@gmail.com</a></p>
                                            </div>
                                            <div class="col-md-4">
                                                <h6>ROL PUCV</h6>
                                                <p>592467-7</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line"></div>
            
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
</body>

</html>
