{% extends 'home.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-sm-12 col-sm-offset-1">
    <div class="header text-center">
        <h2>MatchMaking</h2>
        </br>
    </div>
</div>

<div class="col-sm-12 col-sm-offset-1">
    <div class="card">
        <div class="card-content">

            <p>Padrinos Preferences</p>
                {% for p in padrinos %}
                    <p>Name: {{p.user}}</p>
                    <ol>
                        {% for pre in p.preferences %}
                           <li>{{pre.pref_to.name}} - Orden: {{pre.pref_order}}</li>    
                        {% endfor %}
                    </ol>       
                {% endfor %}
                <p>Ahijados Preferences</p>
                {% for a in ahijados %}
                    <p>Name: {{a.user}}</p>  
                    <ol>
                        {% for pre in a.preferences %}
                        <li>{{pre.pref_to.name}} - Orden: {{pre.pref_order}}</li>    
                        {% endfor %}
                    </ol>     
                {% endfor %}
                <p>Solucion</p>
                <ul>
                    {% for s in solucion %}
                        <li>
                        {% for a in s %}
                            {{ a }}
                        {% endfor %}
                        </li>
                     {% endfor %}
                </ul> 

        </div>
    </div>
</div>

    
{% endblock %}
