{% extends 'home.html' %}
{% load staticfiles %}



{% block content %}

<div class="col-sm-12 col-sm-offset-1">
    <div class="header text-center">
        <h2>Resultados por Alumno</h2>
        </br>
    </div>
</div>

<div class="col-sm-12 col-sm-offset-1">
    <div class="card">
        <div class="card-content">
            
            <div class="cuadro-filtro d-flex justify-content-end">
                </br>
                <input class="form-control" id="filtroTabla" type="text" placeholder="Filtrar..">
                </br>
            </div>


            <div class="cuadro-tabla">
                </br>
                <div class="row">

                    <table class="table table-hover table-bordered">
                        <thead class="table-head">
                            <th>Rut</th>
                            <th>Nombre Alumno</th>
                            <th>Tipo</th>
                            <th>Estado Encuesta</th>
                            <th>Grupo</th>
                            <th>Respuestas</th>
                        </thead>
                        <tbody id="tablaBusqueda">
                            <tr>
                                <td>19.041.272-5</td>
                                <td>MACARENA GARATE MUÑOZ</td>
                                <td>PADRINO</td>
                                <td>PENDIENTE</td>
                                <td class="tablaNumero">1</td>
                                <td>
                                    <a href="#modalDetalles" data-toggle="modal" style="color:#339fc3;" data-content="Detalles" rel="popover" data-placement="bottom" data-trigger="hover">
                                        <i class="zmdi zmdi-eye" style="font-size:20px; color:#339fc3;"></i>
                                    </a>
                                </td>

                                <div id="modalDetalles" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Detalles Resultado Encuesta</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Acá irán los detalles del resultado</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <td>12.345.678-9</td>
                                <td>PELAGATO</td>
                                <td>MECHON</td>
                                <td>COMPLETADO</td>
                                <td class="tablaNumero">1</td>
                                <td>
                                    <a href="#modalDetalles" data-toggle="modal" style="color:#339fc3;" data-content="Detalles" rel="popover" data-placement="bottom" data-trigger="hover">
                                        <i class="zmdi zmdi-eye" style="font-size:20px; color:#339fc3;"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="d-flex justify-content-center">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Siguiente</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}